

.box{
    position:relative;
    width: 97%;
    height:80%;
    border: 1px solid lightgrey;
    line-height: 300px;
    margin: 10px;
    overflow: scroll;
    display:table;
}

.box-container{
    text-align: center;
    border-radius: 10%;
    height: 400px;
}

.text{
font-family: 'Dosis', sans-serif;
}

.text.big{
font-size: 30px;
}

.upper{
text-transform: uppercase;
}


.uuid{
    margin: auto;
    font-family: 'Dosis', sans-serif;
    font-size: 4em;
    opacity: 0.6;
    z-index: 50;
}